/* 폰트 적용 시작 */
@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family:'MapoFlowerIsland';
}
/* 폰트 적용 끝 */

/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.padding-0-10 {
  padding: 0 10px;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
  ;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

.flex-as-c {
  align-self: center;
}

/* 성장성 부여 */
.flex-grow-1 {
  flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
  flex: 1 0 0;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.img-box>img {
  width: 100%;
  display: block;
}

.bg-red {
  background-color: red;
}

.bg-gold {
  background-color: gold;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.border-box {
  box-sizing: border-box;
}

@media ( max-width:700px)  {
  .visible-md-up {
    display: none; 
  }
}

@media ( min-width:701px ) {
  .visible-sm-down {
    display: none; 
  }
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
:root {
  --site-width: 1200px;
}

.con {
  max-width: var(--site-width);
}

/* 바디 콘텐트 시작 */
.body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content>main {
  flex-grow: 1;
}

/* 바디 콘텐트 끝 */

/* 섹션 타이틀 시작 */
.section-title {
  padding: 0 10px;
}

/* 섹션 타이틀 끝 */

/* 로고 시작 */
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: -2px;
}

.logo>span:last-child {
  white-space: nowrap;
  margin-left: 10px;


}

/* 로고 끝 */

/* 탑바 시작 */
.top-bar {
  background-color: white;
  color: black;
  height: 100px;
  box-shadow:3px 1px 5px rgba(0,0,0,0.3);
}

.top-bar .logo {
  margin-left: 10px;
}


.top-bar__menu-box>ul>li>a {
  font-weight: bold;
  padding-right: 20px;
  color: black;
  font-size: 20px;
  line-height: 100px;
  display: block;
}

.top-bar__menu-box>ul>li:hover>a {
  color: skyblue;
  border-bottom:3px solid skyblue;
  
}

.top-bar__menu-box>ul>li>a>span:first-child {
  margin-right: 3px;
}

/* 탑바 끝 */

/* 모바일 탑바 시작 */
:root {
  --mobile-top-bar__height: 70px;
}

.mobile-top-bar-padding {
  padding-top: var(--mobile-top-bar__height);
}

.mobile-top-bar {
  background-color:#fff;
  color:black;
  height: var(--mobile-top-bar__height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

:root {
  --mobile-top-bar__btn-toggle-side-bar__dur: .3s;
}

.mobile-top-bar__btn-toggle-side-bar {
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.mobile-top-bar__btn-toggle-side-bar>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur), transform var(--mobile-top-bar__btn-toggle-side-bar__dur), opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius: 2px;
}

.mobile-top-bar__btn-toggle-side-bar>div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-side-bar>div:nth-child(3) {
  top: 80%;
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(1),
.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(3) {
  top: 40%;
  transform: rotate(-45deg);
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(3) {
  transform: rotate(45deg);
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(2) {
  opacity: 0;
}

/* 모바일 탑바 끝 */

/* 모바일 사이드바 시작 */
.mobile-side-bar {
  position: fixed;
  top: var(--mobile-top-bar__height);
  left: -100%;
  width: 100%;
  bottom: 0;
  color: black;
  background-color: #fff;
  transition: left .3s;
  display: flex;
  align-items: center;
  padding-bottom: var(--mobile-top-bar__height);
  z-index: 1000;
}

.mobile-side-bar.active {
  left: 0;
}

.mobile-side-bar__menu-box-1 {
  width: 100%;
}

.mobile-side-bar__menu-box-1>ul>li>a {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.mobile-side-bar__menu-box-1>ul>li:hover>a {
  background-color: skyblue;
  color: white;
}

/* 모바일 사이드바 끝 */

/* 하단바 시작 */
.bottom-bar {
  margin-top:30px;
  background-color: skyblue;
  color: white;
}

.bottom-bar>.con {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 하단바 끝 */

/* 게시물 리스트 박스 시작 */
.article-list-box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.article-list-box>ul>li {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 400px;
  overflow: hidden;
}

.article-list-box__title > a {
  font-size: 1.8rem;
}

.article-list-box__title > a:hover {
  color:skyblue;
}

.article-list-box__reg-date::before {
  content: "작성 : ";
}

.article-list-box__writer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.article-list-box__writer>span:last-child {
  width: 70px;
  height: 70px;
  background-color: skyblue;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
}

/* 게시물 리스트 박스 끝 */

/* 토스트 UI 에디터 시작 */
.toast-ui-youtube-plugin-wrap {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.toast-ui-youtube-plugin-wrap>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toast-ui-youtube-plugin-wrap::before {
  content: "";
  display: block;
  padding-top: calc(100% / 16 * 9);
}

.toast-ui-codepen-plugin-wrap>iframe {
  width: 100%;
}

/* 기존의 코드 블록에 걸려있는 여백과 배경색 제거 */
.toast-ui-viewer .tui-editor-contents pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* 토스트 UI 에디터 끝 */

/* svgs 시작 */
.svgs {
  width: 0;
  height: 0;
  overflow: hidden;
}

.svgs>* {
  display: block;
}

/* svgs 끝 */

/* 게시물 댓글 박스 시작 */
.section-article-reply-box {
  margin-top:20px;
}
/* 게시물 댓글 박스 끝 */

/* 커스텀 끝 */

/* 메인 시작 */
.section-latest-articles {
  margin-top:30px;
  margin-bottom:30px;
}

.article-list-box > ul > li {
  border:2px solid paleturquoise;
  padding:20px;
  border-radius:20px;
  margin-top:20px;
  background-color:#fff;
}
